In [3]:
import pandas as pd

In [5]:
csv = pd.read_csv(r"C:\Users\lendi\OneDrive\Desktop\New folder\notifications list.csv")

In [11]:
df = pd.DataFrame(csv)
df

,id,title,content,createdAt
0,19332527,MESSAGE DROPPED AT YOUR REGISTERED EMAIL AND M...,"Greeting, We tried to connect with you for you...",2023-08-11 10:22:20.027+00
1,19332525,MESSAGE DROPPED AT YOUR REGISTERED EMAIL AND M...,"Greeting, We tried to connect with you for you...",2023-08-11 10:22:18.166+00
2,19332523,ü§ù Loan disbursed,Your loan has been disbursed to your bank acco...,2023-08-11 10:22:04.284+00
3,19332522,REGISTERED NUMBER BUSY,"Greetings, We tried to connect with you but yo...",2023-08-11 10:22:01.545+00
4,19332521,REGISTERED NUMBER BUSY,"Greetings, We tried to connect with you but yo...",2023-08-11 10:21:59.516+00
...,...,...,...,...
499995,17579331,REGISTERED NUMBER BUSY,"Greetings, We tried to connect with you but yo...",2023-07-18 11:25:28.503+00
499996,17579330,Lenditt chat support,Approval amount is dependent upon your loan ap...,2023-07-18 11:25:26.706+00
499997,17579325,"Sorry, Profile image is not verified ü§û","Dear Customer, your selfie photo is not proper...",2023-07-18 11:25:03.988+00
499998,17579323,REGISTERED NUMBER BUSY,"Greetings, We tried to connect with you but yo...",2023-07-18 11:25:01.335+00
499999,17579322,REGISTERED NUMBER BUSY,"Greetings, We tried to connect with you but yo...",2023-07-18 11:25:00.609+00

In [24]:
df.content.dropna()

0         Greeting, We tried to connect with you for you...
1         Greeting, We tried to connect with you for you...
2         Your loan has been disbursed to your bank acco...
3         Greetings, We tried to connect with you but yo...
4         Greetings, We tried to connect with you but yo...
                                ...
499995    Greetings, We tried to connect with you but yo...
499996    Approval amount is dependent upon your loan ap...
499997    Dear Customer, your selfie photo is not proper...
499998    Greetings, We tried to connect with you but yo...
499999    Greetings, We tried to connect with you but yo...
Name: content, Length: 499728, dtype: object

In [ ]:
csv[(csv.Year == 2013) & (csv.Industry_aggregation_NZSIOC == Level 3)]

In [ ]:
csv[(csv.Year == 2013) & (csv.Industry_aggregation_NZSIOC == "Level 3")]

In [ ]:
csv.plot()

In [ ]:
import matplotlib.pyplot as plt
matplotlib.use('Agg')
import sys
plt.savefig(sys.stdout.buffer)
sys.stdout.flush()

In [ ]:
plt.show()

In [ ]:
csv.plot()
plt.show()

In [ ]:
pip list

conda list